



@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dosis:wght@200..800&display=swap');


:root {
    --white: white;
    --skyBlue: skyBlue;
    --green: green;
    --dodgerBlue: dodgerblue;
    --seaGreen: seagreen;
    --black: black;
}


* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding:0;
    overflow-x: hidden;
    background-color:white;
    
    
}











/*-------------------------------------------------NAVBAR---------------------------------------------------------*/



.Nav-Container {
    width: 100%;
    overflow: hidden;
    background-color:black;
    visibility: visible;
    position: fixed;
    top: 0px;
    z-index: 99;
    
}


.Nav-Wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin:0 auto;
    max-width: 1200px;
}

.Nav-Wrapper .Nav-Left-Side {
    color:white;
}


.Nav-Wrapper button {
    text-decoration: none;
    margin:0px 10px;
    color:white;
    font-weight:bold;
    font-size: 15px;
    cursor: pointer;
    padding:0.8em 1em;
    border:none;
    background:none;
    outline:none
}











/*-------------------------------------------------MODAL CONTENT---------------------------------------------------------*/


.Modal-Container {
    display: none;
    overflow: hidden;
    width: 100%;
    margin-top: -210px;

    
}


.Modal-Wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 550px;
    margin:0 auto;
    border-radius:10px;
    background-color:goldenrod;
    transition: 3s marginTop linear;
    
}


.Modal-Smile img {
    color:white;
}

.Modal-Content {
    padding: 1em;
}


.Modal-Content .modal-content-text {
    color:whitesmoke;
    font-size: 0.9rem;
    word-break: normal;
    font-family: "Petrona", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}




.Modal-Header  {
    font-family: "Neuton", serif;
    font-weight: 200;
    font-style: normal;
    color:whitesmoke
}


.Modal-Close {
    margin:0 auto
}

.Modal-Close-Text button {
        border:none;
        outline: none;
        padding:0.8em 3em;
        color:white;
        cursor: pointer;
        background:coral;
        font-size: 1rem;
        margin-top: 30px;
        border-radius:10px;
        font-family: "Neuton", serif;
        font-weight: 200;
        font-style: normal;
}




.Modal-Container.show {
    display: block;
}











/*--------------------------------------------------BANNER CONTENT---------------------------------------------------------*/



.Banner-Container {
    overflow: hidden;
    width: 100%;
    height: 310px;
    visibility: visible;
    
}


.Banner-Wrapper {
    background-image:url("/images/recipehomebanner.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    height: 310px;
   
}



.Recipe-Input-Wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    z-index: 100;
}


.Recipe-Headline {
    color:white;
    font-family: "Cormorant SC", serif;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    margin:0 auto;

}


.Recipe-Input input {
    font-size: 20px;
    padding:1em 2em;
    border:none;
    outline:none;
    border-radius:10px;
    text-align: center;
    margin-top:90px
}












/*--------------------------------------------------RECIPE CONTENT---------------------------------------------------------*/


.Container {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    max-width: 1200px;
    overflow: hidden;
    visibility: visible;
}


.Main-Wrapper {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    
}


.Asian-American-Italian-Recipe-Wrapper {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    gap:10px;
    width: 1000px;
    height: 1100px;
}




.Menu-Wrapper  {
   display: flex;
   flex-direction: column;
   align-items:center;
   background-color:none;
   width: 80px;
   height: 1100px;
   border-radius:3px;

}


.Menu-Wrapper a {
    display: block;
    margin:40px 0px;
    text-decoration: none;
    color:coral;
    font-weight: bold;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Menu-Wrapper a:hover {
    cursor:auto
}

.Menu-Wrapper img {
    width: 30px;
    margin:0px 3px;
    object-fit: contain;
}

.Menu-Header h1 {
    color:seagreen;
    font-family: "Cormorant SC", serif;
}


.Recipe-Benefits h1 {
    color:seagreen;
    font-family: "Cormorant SC", serif;
}

.Recipe-Menu-List a {
    color:black;
}






.Flex-Child-Image img {
    object-fit: contain;
    width:265px;
    border-radius:10px;
   
}

.Flex-Child-Image img:hover {
    animation-name: flexImage;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    
}

@keyframes flexImage {
    from {scale: 0.9;}
    to {scale: 1;}
}






.Asian-Recipe-Wrapper .Flex-Homemade-Header, 
.Asian-Recipe-Wrapper  .Flex-Noodles-Header,
.Asian-Recipe-Wrapper   .Flex-ThaiPasta-Header {
    text-align: center;
}

.Flex-Homemade-Header, 
.Flex-Noodles-Header, 
.Flex-ThaiPasta-Header,
.Flex-AltonBrown-Header,
.Flex-Awesome-Header,
.Flex-Baked-Header,
.Flex-Homemade-Header,
.Flex-BakedZiti-Header,
.Flex-Bruschette-Header,
.Flex-PastaFagioli-Header,
.Flex-PastaShells-Header,
.Flex-ItalianSausage-Header,
.Flex-Polenta-Header {
    font-family: "Red Hat Display", sans-serif;
   font-optical-sizing: auto;
   text-align: center;
   font-size: 14px;
}




.American-Recipe-Wrapper {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:10px;
    margin-top:-300px
   
}
















  










/*-------------------------------------------------- POP UP CHAT  CONTENT---------------------------------------------------------*/



.Open-Chat-Btn {
    display: block;
    position: fixed;
    bottom:0;
    right:0;
    width: 150px;
    cursor: pointer;
    color:whitesmoke;
    background-color:dodgerblue;
    border:none;
    outline:none;
    padding:0.8em 2em;
}


.Chat-Popup {
    position: fixed;
    display: none;
    bottom:0;
    right:15px;
    border: 3px solid black;
    z-index: 99;
}

.form-chat-popup {
    max-width: 300px;
    padding:10px;
    background-color:white;
}
.form-chat-popup label {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}


.form-chat-popup textarea {
    width: 100%;
    min-height: 90px;
    background:darkgrey;
    resize: none;
    padding:1em;
    border:none;
    margin:5px 0px 25px 0px
}

.form-chat-popup textarea:focus {
    background:lightgrey;
    outline:none;
}


.form-chat-popup .btn {
    background-color:lightgreen;
    color:white;
    padding:0.8em 2em;
    cursor: pointer;
    width: 100%;
    border:none;
    outline:none;
    margin-bottom: 10px;
}

.form-chat-popup .close {
    background-color:coral
}


.form-chat-popup button {
    opacity: 0.9;
}

.form-chat-popup button:hover {
    opacity: 1;
}













/*--------------------------------------------------OVERVIEW RECIPE CONTENT---------------------------------------------------------*/


.Container-Two {
    overflow: hidden;
    width: 100%;
    background-color:black;
    visibility: visible;
    margin-block: 90px;
}

.Main-Wrapper-Two {
    display: flex;
    align-items:center;
    justify-content: center;
    max-width: 1200px;
    margin:0 auto;
    padding:3em
}


.Overview-Recipes {
    font-family: "Cormorant SC", serif;
    color:gold;
    font-weight: bold;
    font-size: 20px;
}





/*--------------------------------------------------WHAT IS A  RECIPE CONTENT---------------------------------------------------------*/


.What-Is-Recipe-Container {
    width:100%;
    overflow: hidden;
    background-color:gold;
    margin-block:-90px;
    height: 410px;
    visibility: visible;
}


.Recipe-Important-Wrapper  {
    display: flex;
    align-items:center;
    justify-content: space-around; 
    margin: 0 auto;
    max-width: 1200px;
   
}

.Recipe-Important img {
    object-fit: contain;
    width: 45px;
}


.Recipe-Important h1 {
    font-family: "Cormorant SC", serif;
    font-size: 30px;
}


.Recipe-Important .Recipe-Important-Text {
    width: 450px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:black

}

.Recipe-Important h1 {
    color:grey;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
     font-size: 20px;
}















/*--------------------------------RECIPE ARTICLE SECTION ------------------------------------------*/

.Container-Three {
    background: #fff8e5;
    overflow: hidden;
    width: 100%;
    margin-block:30px;
    visibility: visible;
}



.Recipe-Article-Wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 1em;
    margin:0 auto;

}

.Article-Recipe h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-weight: bold;
    font-size: 30px;
}

.Article-Text-Header h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:grey;
    font-weight: bold;
}



.Form-Article input {
    font-size: 15px;
    font-family: "Cormorant SC", serif;
    color:black;
    padding:1.5em 3em;
    border-radius:15px;
    border:none;
    outline:none;
    text-align: center;

}


.Form-Article button {
    color:white;
    background-color:coral;
    padding:1.2em 1.3em;
    border:none;
    outline:none;
    border-radius:10px;
    font-size: 15px;
    
}



.Form-Article button:hover {
    color:coral;
    background-color:black;
}

.Form-Article button:focus {
    color:white;
    background-color:seagreen;
}










/*-------------------------------NEWSLETTER POP UP ------------------------------------------*/

.User-Newsletter-Container {
    overflow: hidden;
    display: none;
}


.Newsletter-Wrapper {
    position: fixed;
    bottom:130px;
    left: 300px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 210px;
    width: 810px;
    padding:1em;
    background-color:whitesmoke;
    border-radius:10px;
    box-shadow: 0px 0px 3px 1px goldenrod inset;
}


.Newsletter-Header {
    font-family: "Cormorant SC", serif;
}

.Newsletter-Header img {
    width: 50px;
    object-fit: contain;
}

.Newsletter-Tag-Line  h3{
    font-family: "Cormorant SC", serif;
}












 










/*-------------------------------FOOTER ------------------------------------------*/




footer {
    position: relative;
    bottom:0;
    background-color:lightgrey;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding:3em;
    z-index: -3;
    margin-block:-25px;
    visibility: visible; 
}



.Footer-Wrapper {
    display: flex;
    align-items:center;
    justify-content: space-around;
    max-width: 1500px;
    margin:0 auto;
}

.Footer-Wrapper button {
    color:white;
    font-weight: bold;
    padding:1em 3em;
    cursor: pointer;
    outline:none;
    border:none;
    background:none;
    border-radius:20px;
    font-size: 20px;
    text-decoration: none;
}




.Footer-Wrapper-Two {
    display: flex;
    align-items:center;
    justify-content: space-around;
    max-width: 1300px;
    margin: 20px 3px;
    margin:0 auto;
    
}

.Footer-Content {
    width: 880px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 0.8rem;
    border:2px solid grey;
    padding:1em;
    text-align: center;
    
}

.Footer-ContactUs {
    width: 150px;
    color:whitesmoke;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.Footer-ContactUs img {
    object-fit: contain;
    width: 20px;
}




.Footer-Wrapper-Three {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin:0 auto;
    max-width: 700px;
    margin-top: 30px;
}

.Footer-Copyright {
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    margin-left: -210px;
    margin-top: 30px;
}

.Footer-Social-Media {
    margin-top:30px;
    margin-right: -90px;
}

.Footer-Social-Media img {
    object-fit: contain;
    width: 30px;
}