



@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=LXGW+WenKai+Mono+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=LXGW+WenKai+Mono+TC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



:root {
    --white: white;
    --skyBlue: skyBlue;
    --green: green;
    --dodgerBlue: dodgerblue;
    --seaGreen: seagreen;
    --black: black;
}


* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
}






/*--------------------------------FORM----------------------------------------------*/


.Form-Login-Container {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url("/images/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    
}


.Wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    height: 450px;
    margin:0 auto;
    max-width: 1200px;
 
}


.Form-Wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background: linear-gradient(orange, lightgrey, white, darkgreen);
    border-radius:10px;
    height: 420px;
    width:510px;
  
 
}

.Form-Wrapper h1 {
    color:var(--white)
}



.Form-Wrapper label {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.Form-Wrapper input {
    padding:0.8em 6em;
    border-radius:10px;
    font-size: 10px;
    text-align: center;
    font-size: 15px;
}

.Form-Wrapper button {
    color:white;
    padding:0.8em 7em;
    border:none;
    outline:none;
    background-color:black;
    border-radius: 10px;
    margin-top: 10px;
}

.Form-Wrapper button:hover {
    color:white;
    cursor: pointer;
    background-color:dodgerblue
}

.Wrapper .header-text {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    color:black
}


